manual_Trigger/manual_Trigger.xcodeproj/project.xcworkspace/xcuserdata/abdulahad.xcuserdatad/UserInterfaceState.xcuserstate
manual_Trigger/manual_Trigger.xcodeproj/project.xcworkspace/xcuserdata/abdulahad.xcuserdatad/UserInterfaceState.xcuserstate
/manual_Trigger/manual_Trigger.xcodeproj/project.xcworkspace/xcuserdata

# Tuist
*.xcodeproj
*.xcworkspace
.tuist
